<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 

  <div>
    <div class="fields">
      <label for="Email" class="fields">Email:</label>
      <input type="email"> 
    </div>
    <!-- forr drop down -->
    <div class="dropdown fields">
      <label for="Subscriptions" class="fields">Subscriptions</label>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Subscriptions
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Basic</a>
          <a class="dropdown-item" href="#">Advanced </a>
          <a class="dropdown-item" href="#">Pro</a>
        </div>
      </div>
      <!-- For password -->
    <div class="fields">
      <label for="Password" class="fields"  >Password</label>
      <input type="password">
    </div>
  </div>
  <button class="btn btn-primary">Submit</button>
  <button class="btn btn-primary" >Clear</button>
</div>
